.ListingCarsFilters {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 14px #0000001f;
    margin-bottom: 24px;
    padding: 20px;
}
.MultiFilter__row, .ListingCarsFilters__row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.MultiFilter__row .custom-select-container, .ListingCarsFilters__row .ListingCarsFilters__column {
    flex-shrink: 0;
    width: 280px;
}
.ListingCarsFilters__column:not(:first-child), .ListingCarsFilters__column .custom-select-container:not(:first-child),
.ListingCarsFilters__column .custom-input-container:not(:first-child){
    margin-left: 10px;
}

.MultiFilter__row .custom-select-container label, .MultiFilter__row .custom-input-container label {
    position: absolute;
    top: -16px; /* устанавливаем отрицательное значение вертикального отступа */
    left: 0;
    background-color: #fff;
    padding: 0 4px;
    font-size: 13px;
}

.MultiFilter__row .custom-select-container .cstm-select,.MultiFilter__row .custom-input-container {
    margin-top: 16px; /* добавлен вертикальный отступ сверху, чтобы предотвратить смещение */
}

.ListingCarsFilters__column .custom-input-container > input[type='text'],
.ListingCarsFilters__column .custom-input-container > input[type='number'] {
    padding: 10px 20px 8px 10px;
    border: 1px solid #00000040;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    max-width: calc(100% - 32px);
    height: 20px;
}

.ListingCarsFilters__column input[type='text']:focus,
.ListingCarsFilters__column input[type='number']:focus {
    border: 1px solid #157ee180;
}

.MultiFilter__row select, .ListingCarsFilters__row select{
    padding: 16px;
    border: 1px solid #00000040;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
}
.MultiFilter__row, .ListingCarsFilters__row {
    /* Стили для контейнера-обертки */
    /* Например: */
    margin-bottom: 16px;
}

.MultiFilter__row .cstm-select__control, .ListingCarsFilters__row .cstm-select__control{
    /* Стили для контрола Select */
    /* Например: */
    border: 1px solid #00000040;
    border-radius: 8px;
    min-height: 40px;
}
.MultiFilter__row .cstm-select__control:hover, .ListingCarsFilters__row .cstm-select__control:hover, .ListingCarsFilters__row .custom-input-container:hover {
    /* Стили при наведении на контрол */
    /* Например: */
    border-color: #157ee1;
}

.MultiFilter__row .cstm-select__control--menu-is-open, .ListingCarsFilters__row .cstm-select__control--menu-is-open {
    /* Стили при открытом меню */
    /* Например: */
    border-color: #0176ffb8;
}

.MultiFilter__row .cstm-select__option--is-selected, .ListingCarsFilters__row .cstm-select__option--is-selected {
    /* Стили для выбранного варианта */
    /* Например: */
    background-color: #157ee1;
    color: white;
}

.MultiFilter__row .cstm-select__option--is-focused, .ListingCarsFilters__row .cstm-select__option--is-focused{
    /* Стили для варианта при фокусе */
    /* Например: */
    background-color: #0176ffb8;
    color: white;
}

.ListingCarsFilters__column, .ListingCarsFilters__column .custom-select-container:first-child {
    margin-left: 0;
}

.ListingCarsFilters__column
{
    align-items: center;
    display: flex;
    min-width: 0;
}
.ListingCarsFilters__row .ListingCarsFilters__column .custom-select-container{
    width: 100%;
}


