body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "pnum";
  font-family: "YS Text","Arial","Helvetica Neue","Helvetica",yandex-sans-rub-sign,sans-serif;;
  font-variant-numeric: proportional-nums;
}

:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.w30percent{
  width: 30%;
}
.w20percent{
  width: 20%;
}
.no-link-style {
  text-decoration: none;
  color: inherit;
}
