.car-card {
    width: 90%;
    margin: 0 auto; /* Центрирование по горизонтали */
}
.CardHead__topRow,.CardOfferBody__columnsWrapper, .CardInfoRow, .CardHead__topRowLeftColumn {
    display: flex;
}
.CardHead__price {
    flex-shrink: 0;
    min-width: 236px;
    position: relative;
}
.CardOfferBody__leftColumn {
    margin: 0 24px 0 0;
    padding-bottom: 64px;
    width: 280px;
}
.CardOfferBody__rightColumn {
    align-self: flex-start;
    position: sticky;
    top: 20px;
    transition: top .3s;
    width: 584px;
}
.CardInfoRow__cell:first-child {
    flex-shrink: 0;
    width: 172px;
}
.CardInfoRow__cell:last-child {
    color: #000;
    flex-grow: 1;
    padding-left: 8px;
}
.CardInfoRow__cell {
    color: #00000080;
    display: block;
    line-height: 20px;
    padding: 3px 0;
    text-overflow: ellipsis;
}
.CardInfo__list-MZpc1 {
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .car-card {
        width: 90%;
        margin: 0 auto;
    }
    .CardOfferBody__columnsWrapper {
        flex-direction: column;
    }
    .CardOfferBody__leftColumn {
        padding-bottom: 0;
    }
    .CardInfoRow, .CardOfferBody__columnsWrapper {
        margin-bottom: 5px;
    }

    .CardOfferBody__rightColumn, .CardOfferBody__leftColumn {
        width: 100%;
    }

    .CardOfferBody__rightColumn .carousel-component {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }

}
